ai-email-triage-and-routing-engine.json
{
    "name": "Integration Google Sheets",
    "flow": [
        {
            "id": 62,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 9621700,
                "filterType": "simpleSearch",
                "format": "full",
                "folder": "all",
                "criteria": "all",
                "markSeen": false,
                "limit": 10,
                "from": "",
                "subject": "",
                "includeWords": "",
                "excludeWords": "",
                "size": {
                    "criteria": "larger",
                    "amount": null,
                    "unit": "M"
                },
                "hasAttachment": false,
                "includeSpamTrash": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 1200
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gmail connection (graciaskevinjay@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        },
                        "filterType": {
                            "label": "Simple filter"
                        },
                        "format": {
                            "label": "Full content"
                        },
                        "folder": {
                            "nested": [
                                {
                                    "name": "includeSpamTrash",
                                    "label": "Include spam and trash",
                                    "type": "boolean",
                                    "required": true,
                                    "default": false
                                }
                            ],
                            "label": "All mail"
                        },
                        "criteria": {
                            "label": "All messages"
                        },
                        "size": {
                            "nested": {
                                "criteria": {
                                    "label": "Greater than"
                                },
                                "unit": {
                                    "label": "MB (megabytes)"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 500
                        },
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "type": "collection",
                        "label": "Email size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ]
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    },
                    {
                        "name": "includeSpamTrash",
                        "type": "boolean",
                        "label": "Include spam and trash",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 64,
            "module": "ai-local-agent:RunLocalAIAgent",
            "version": 0,
            "parameters": {
                "makeConnectionId": 9621684
            },
            "mapper": {
                "defaultModel": "small",
                "systemPrompt": "# Purpose\nYou are an expert Email Operations Assistant. Your job is to analyze incoming business emails, categorize them based on the sender's need, and output a structured JSON response to trigger the correct automated workflow.\n\n# Tasks\n1. Read and analyze the incoming email.\n2. Determine the sender's primary intent/need.\n3. Select the most appropriate Category from the list below.\n4. Generate the required outputs (Auto-Reply Draft, Internal Alert, and Sheet Log Data) based on that category.\n\n# Categories & Workflow Rules\n\n- CATEGORY: Customer Inquiry\n  - Action: Draft a polite auto-reply thanking them and stating a staff member will get back to them within 24 hours. \n  - Log: Mark status as \"Pending Review\".\n  - Alert: Set \"Alert_Staff\" to true.\n\n- CATEGORY: Support / Issue\n  - Action: Draft an auto-reply providing a temporary support ticket number.\n  - Log: Mark status as \"Urgent - Tech Support\".\n  - Alert: Set \"Alert_Staff\" to true and \"Escalate\" to true.\n\n- CATEGORY: Sales / Partnership Pitch\n  - Action: Do not auto-reply. \n  - Log: Mark status as \"Pitch - Low Priority\".\n  - Alert: Set \"Alert_Staff\" to false.\n\n- CATEGORY: Spam / Junk\n  - Action: Do not auto-reply.\n  - Log: Skip logging (or mark as \"Archived\").\n  - Alert: Set \"Alert_Staff\" to false.\n\n# Output Format\nYou must respond ONLY in the following JSON format so the system can parse your instructions:\n\n{\n  \"category\": \"[Inserted Category]\",\n  \"log_to_sheets\": {\n    \"timestamp\": \"[Date of Mail]\",\n    \"name\": \"[Sender Name]\",\n    \"sender_email\": \"[Sender Email]\",\n    \"subject\": \"[Email Subject]\",\n    \"summary\": \"[Brief 1-sentence summary of the email]\",\n    \"status\": \"[Status based on Category rules]\"\n  },\n  \"alert_staff\": [true/false],\n  \"escalate\": [true/false],\n  \"auto_reply_draft\": \"[Insert full text of the auto-reply email here, or leave blank if none required]\"\n}",
                "message": "Email: {{62.fromEmail}}\nName: {{62.fromName}}\nEmail Body Content: {{62.fullTextBody}}\nCheck for Attachement and Media:{{62.hasAttachment}} {{62.hasMedia}}\n\nEmail Details:\n{\nMessage ID: {{62.id}}\nSubject: {{62.subject}}\nTimestamp: {{62.internalDate}}\n}",
                "files": [],
                "threadId": "",
                "modelConfig": {
                    "recursionLimit": 300,
                    "iterationsFromHistoryCount": "10"
                },
                "timeout": "",
                "outputType": "text"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 1200
                },
                "restore": {
                    "parameters": {
                        "makeConnectionId": {
                            "label": "Make's AI Provider (default)",
                            "data": {
                                "scoped": "true",
                                "connection": "ai-provider"
                            }
                        }
                    },
                    "expect": {
                        "defaultModel": {
                            "mode": "chose",
                            "label": "SmallModel: gpt-5-nano. Reasoning: minimal. Efficiently handles long conversations and reasoning, delivering smart conclusions quickly"
                        },
                        "files": {
                            "mode": "chose"
                        },
                        "outputType": {
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "makeConnectionId",
                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "systemPrompt",
                        "type": "text",
                        "label": "Instructions"
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Input",
                        "required": true
                    },
                    {
                        "name": "files",
                        "type": "array",
                        "label": "Input files",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "semantic": "file:data"
                            }
                        ]
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "modelConfig",
                        "type": "collection",
                        "label": "Model configuration",
                        "spec": [
                            {
                                "name": "tokenLimit",
                                "type": "hidden",
                                "label": "Max output tokens"
                            },
                            {
                                "name": "recursionLimit",
                                "type": "hidden",
                                "label": "Steps per agent call"
                            },
                            {
                                "name": "iterationsFromHistoryCount",
                                "type": "number",
                                "label": "Maximum conversation history"
                            }
                        ]
                    },
                    {
                        "name": "timeout",
                        "type": "number",
                        "label": "Step timeout",
                        "validate": {
                            "min": 120,
                            "max": 600
                        }
                    },
                    {
                        "name": "outputType",
                        "type": "select",
                        "label": "Response format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "make-schema",
                                "udt-schema"
                            ]
                        }
                    }
                ]
            },
            "tools": []
        },
        {
            "id": 69,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 414650
            },
            "filter": null,
            "mapper": {
                "json": "{{64.response}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "category",
                        "label": "Category",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "log_to_sheets",
                        "label": "Log to sheets",
                        "help": "",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "sender_email",
                                "label": "Sender email",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "subject",
                                "label": "Subject",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "summary",
                                "label": "Summary",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "status",
                                "label": "Status",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "required": false
                    },
                    {
                        "name": "alert_staff",
                        "label": "Alert staff",
                        "help": "",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "name": "escalate",
                        "label": "Escalate",
                        "help": "",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "name": "auto_reply_draft",
                        "label": "Auto reply draft",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 71,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "Filter for non-junk email",
                "conditions": [
                    [
                        {
                            "a": "{{69.category}}",
                            "o": "text:notequal:ci",
                            "b": "Spam / Junk"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 76,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9621793
                            },
                            "filter": {
                                "name": "Filter For Inquiry Emails",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{69.category}}",
                                            "o": "text:equal:ci",
                                            "b": "Customer Inquiry"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "select",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "from": "drive",
                                "spreadsheetId": "/1IiuuIHjcuotbamkBt-cZM1QFcoBF5CZVeQunQIkIOaU",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "values": {
                                    "0": "{{69.log_to_sheets.timestamp}}",
                                    "1": "{{69.log_to_sheets.name}}",
                                    "2": "{{69.log_to_sheets.sender_email}}",
                                    "3": "{{69.log_to_sheets.status}}",
                                    "4": "{{69.log_to_sheets.summary}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (graciaskevinjay@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Inquiry LogSheet-AI Assisted"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values in columns",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "Timestamp (A)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "Full Name: (B)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "Company Email: (C)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "Status (D)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "Summary (E)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "(F)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "(G)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "(H)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "(I)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "(J)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "(K)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "(L)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "(M)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "(N)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "(O)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "(P)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "(Q)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "(R)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "(S)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "(T)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "(U)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "(V)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "(W)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "(X)",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "metadata": [
                                                        [
                                                            [
                                                                "Timestamp",
                                                                "Full Name:",
                                                                "Company Email:",
                                                                "Status",
                                                                "Summary"
                                                            ]
                                                        ]
                                                    ]
                                                }
                                            ],
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 85,
                            "module": "google-email:createADraft",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9621700
                            },
                            "mapper": {
                                "to": [
                                    "{{69.log_to_sheets.sender_email}}"
                                ],
                                "subject": "Re: {{69.log_to_sheets.subject}} [Inquiry Received]",
                                "bodyType": "collection",
                                "contents": [
                                    {
                                        "text": "{{69.auto_reply_draft}}",
                                        "image": {}
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "messages": [
                                        {
                                            "category": "setup",
                                            "severity": "error",
                                            "message": "Body type: Value must not be empty."
                                        },
                                        {
                                            "category": "setup",
                                            "severity": "error",
                                            "message": "Connection: Value must not be empty."
                                        }
                                    ]
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gmail connection (graciaskevinjay@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Collection of contents (text, images, etc.)"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "folders": {
                                            "mode": "chose"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "signature": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "folders",
                                        "type": "select",
                                        "label": "Folders",
                                        "multiple": true
                                    },
                                    {
                                        "name": "contents",
                                        "type": "array",
                                        "label": "Body contents",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "filename",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Content",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "signature",
                                        "type": "select",
                                        "label": "Signature content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 77,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9621793
                            },
                            "filter": {
                                "name": "Filter For Support Email",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{69.category}}",
                                            "o": "text:equal:ci",
                                            "b": "Support / Issue"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "select",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "from": "drive",
                                "spreadsheetId": "/1-6U7_UBhnBlBsdqnrTHE70D1chr3NbFYd9Bcez1VkbE",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "values": {
                                    "0": "{{69.log_to_sheets.timestamp}}",
                                    "1": "{{69.log_to_sheets.name}}",
                                    "2": "{{69.log_to_sheets.sender_email}}",
                                    "3": "{{69.log_to_sheets.status}}",
                                    "4": "{{69.log_to_sheets.summary}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (graciaskevinjay@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Support LogSheet-AI Assisted"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values in columns",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "Timestamp (A)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "Full Name: (B)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "Company Email: (C)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "Status (D)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "Summary (E)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "(F)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "(G)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "(H)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "(I)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "(J)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "(K)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "(L)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "(M)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "(N)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "(O)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "(P)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "(Q)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "(R)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "(S)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "(T)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "(U)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "(V)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "(W)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "(X)",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "metadata": [
                                                        [
                                                            [
                                                                "Timestamp",
                                                                "Full Name:",
                                                                "Company Email:",
                                                                "Status",
                                                                "Summary"
                                                            ]
                                                        ]
                                                    ]
                                                }
                                            ],
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 86,
                            "module": "google-email:createADraft",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9621700
                            },
                            "mapper": {
                                "to": [
                                    "{{69.log_to_sheets.sender_email}}"
                                ],
                                "subject": "We're on it! Support Request: {{69.log_to_sheets.subject}}",
                                "bodyType": "collection",
                                "contents": [
                                    {
                                        "text": "{{69.auto_reply_draft}}",
                                        "image": {}
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "messages": [
                                        {
                                            "category": "setup",
                                            "severity": "error",
                                            "message": "Body type: Value must not be empty."
                                        },
                                        {
                                            "category": "setup",
                                            "severity": "error",
                                            "message": "Connection: Value must not be empty."
                                        }
                                    ]
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gmail connection (graciaskevinjay@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Collection of contents (text, images, etc.)"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "folders": {
                                            "mode": "chose"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "signature": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "folders",
                                        "type": "select",
                                        "label": "Folders",
                                        "multiple": true
                                    },
                                    {
                                        "name": "contents",
                                        "type": "array",
                                        "label": "Body contents",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "filename",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Content",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "signature",
                                        "type": "select",
                                        "label": "Signature content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 78,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9621793
                            },
                            "filter": {
                                "name": "Filter For Pitch Emails",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{69.category}}",
                                            "o": "text:equal:ci",
                                            "b": "Sales / Partnership Pitch"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "select",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "from": "drive",
                                "spreadsheetId": "/1EV0nsWMnWq3Bd2HLOk-u8j-ZCqmcNWm0x25hUiSB49A",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "values": {
                                    "0": "{{69.log_to_sheets.timestamp}}",
                                    "1": "{{69.log_to_sheets.name}}",
                                    "2": "{{69.log_to_sheets.sender_email}}",
                                    "3": "{{69.log_to_sheets.status}}",
                                    "4": "{{69.log_to_sheets.summary}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (graciaskevinjay@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Sales and Pitch LogSheet-AI Assisted"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values in columns",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "Timestamp (A)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "Full Name: (B)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "Company Email: (C)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "Status (D)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "Summary (E)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "(F)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "(G)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "(H)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "(I)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "(J)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "(K)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "(L)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "(M)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "(N)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "(O)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "(P)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "(Q)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "(R)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "(S)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "(T)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "(U)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "(V)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "(W)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "(X)",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "metadata": [
                                                        [
                                                            [
                                                                "Timestamp",
                                                                "Full Name:",
                                                                "Company Email:",
                                                                "Status",
                                                                "Summary"
                                                            ]
                                                        ]
                                                    ]
                                                }
                                            ],
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 82,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "filter": null,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1050
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 80,
                                            "module": "slack:CreateMessage",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 9681105
                                            },
                                            "filter": {
                                                "name": "Filter For Regular Alert",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{69.alert_staff}}",
                                                            "o": "text:equal:ci",
                                                            "b": "true"
                                                        },
                                                        {
                                                            "a": "{{69.escalate}}",
                                                            "o": "text:equal:ci",
                                                            "b": "false"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "channelWType": "list",
                                                "text": "Inbound Notification:\nSubject: {{69.log_to_sheets.subject}}\nfrom: {{69.log_to_sheets.sender_email}} ({{69.log_to_sheets.name}})\nSummary: {{69.log_to_sheets.summary}}",
                                                "parse": false,
                                                "mrkdwn": true,
                                                "channelType": "public",
                                                "channel": "C0BARNGU2PQ"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Slack (bot) connection (portfolio-rlb2602.slack.com - make)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "slack3"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "channelWType": {
                                                            "label": "Select from the list"
                                                        },
                                                        "reply_broadcast": {
                                                            "mode": "chose"
                                                        },
                                                        "link_names": {
                                                            "mode": "chose"
                                                        },
                                                        "parse": {
                                                            "mode": "chose"
                                                        },
                                                        "mrkdwn": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_links": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_media": {
                                                            "mode": "chose"
                                                        },
                                                        "channelType": {
                                                            "label": "Public channel"
                                                        },
                                                        "channel": {
                                                            "mode": "chose",
                                                            "label": "business-inquiry"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:slack2,slack3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "channelWType",
                                                        "type": "select",
                                                        "label": "Enter a channel ID or name",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "manualy",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "blocks",
                                                        "type": "text",
                                                        "label": "Blocks"
                                                    },
                                                    {
                                                        "name": "thread_ts",
                                                        "type": "text",
                                                        "label": "Thread message ID (time stamp)"
                                                    },
                                                    {
                                                        "name": "reply_broadcast",
                                                        "type": "boolean",
                                                        "label": "Reply broadcast"
                                                    },
                                                    {
                                                        "name": "link_names",
                                                        "type": "boolean",
                                                        "label": "Link names"
                                                    },
                                                    {
                                                        "name": "parse",
                                                        "type": "boolean",
                                                        "label": "Parse message text"
                                                    },
                                                    {
                                                        "name": "mrkdwn",
                                                        "type": "boolean",
                                                        "label": "Use markdown"
                                                    },
                                                    {
                                                        "name": "unfurl_links",
                                                        "type": "boolean",
                                                        "label": "Unfurl primarily text-based content"
                                                    },
                                                    {
                                                        "name": "unfurl_media",
                                                        "type": "boolean",
                                                        "label": "Unfurl media content"
                                                    },
                                                    {
                                                        "name": "icon_emoji",
                                                        "type": "text",
                                                        "label": "Icon emoji"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon url"
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "channelType",
                                                        "type": "select",
                                                        "label": "Channel type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "public",
                                                                "private",
                                                                "im",
                                                                "mpim"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "channel",
                                                        "type": "select",
                                                        "label": "Public channel",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 84,
                                            "module": "slack:CreateMessage",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 9681105
                                            },
                                            "filter": {
                                                "name": "Filter For Support Alert",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{69.alert_staff}}",
                                                            "o": "text:equal:ci",
                                                            "b": "true"
                                                        },
                                                        {
                                                            "a": "{{69.escalate}}",
                                                            "o": "text:equal:ci",
                                                            "b": "true"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "channelWType": "list",
                                                "text": "Inbound Support Email!\nSubject: {{69.log_to_sheets.subject}}\nFrom: {{69.log_to_sheets.sender_email}} ({{69.log_to_sheets.name}})\nSummary: {{69.log_to_sheets.summary}}\n\nATTEND IMMEDIATELY!",
                                                "parse": false,
                                                "mrkdwn": true,
                                                "channelType": "public",
                                                "channel": "C0BATQGRKGS"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Slack (bot) connection (portfolio-rlb2602.slack.com - make)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "slack3"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "channelWType": {
                                                            "label": "Select from the list"
                                                        },
                                                        "reply_broadcast": {
                                                            "mode": "chose"
                                                        },
                                                        "link_names": {
                                                            "mode": "chose"
                                                        },
                                                        "parse": {
                                                            "mode": "chose"
                                                        },
                                                        "mrkdwn": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_links": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_media": {
                                                            "mode": "chose"
                                                        },
                                                        "channelType": {
                                                            "label": "Public channel"
                                                        },
                                                        "channel": {
                                                            "mode": "chose",
                                                            "label": "help-support"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:slack2,slack3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "channelWType",
                                                        "type": "select",
                                                        "label": "Enter a channel ID or name",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "manualy",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "blocks",
                                                        "type": "text",
                                                        "label": "Blocks"
                                                    },
                                                    {
                                                        "name": "thread_ts",
                                                        "type": "text",
                                                        "label": "Thread message ID (time stamp)"
                                                    },
                                                    {
                                                        "name": "reply_broadcast",
                                                        "type": "boolean",
                                                        "label": "Reply broadcast"
                                                    },
                                                    {
                                                        "name": "link_names",
                                                        "type": "boolean",
                                                        "label": "Link names"
                                                    },
                                                    {
                                                        "name": "parse",
                                                        "type": "boolean",
                                                        "label": "Parse message text"
                                                    },
                                                    {
                                                        "name": "mrkdwn",
                                                        "type": "boolean",
                                                        "label": "Use markdown"
                                                    },
                                                    {
                                                        "name": "unfurl_links",
                                                        "type": "boolean",
                                                        "label": "Unfurl primarily text-based content"
                                                    },
                                                    {
                                                        "name": "unfurl_media",
                                                        "type": "boolean",
                                                        "label": "Unfurl media content"
                                                    },
                                                    {
                                                        "name": "icon_emoji",
                                                        "type": "text",
                                                        "label": "Icon emoji"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon url"
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "channelType",
                                                        "type": "select",
                                                        "label": "Channel type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "public",
                                                                "private",
                                                                "im",
                                                                "mpim"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "channel",
                                                        "type": "select",
                                                        "label": "Public channel",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}